<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'homepage.css' %>

    <title>AdvertiseX | Homepage </title>
</head>
<body>

    <%# navigation %>
    <nav>
        <div>
            <h1 class="logo">13th Ads</h1>
        </div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><%= link_to 'log in', new_user_session_path %></li>
        </ul>
    </nav>

    <section class="center-section">
        <div>
            <p class="head-text">13th Ads Worldwide</p>
        </div>
        <div>
            <%# q1<img class="street-icon" src="https://images.unsplash.com/photo-1539651044670-315229da9d2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHN0cmVldHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"> %>
        </div>
    <section>
</body>
</html>