<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'homepage.css' %>
    <title>AdvertiseX | Homepage </title>
</head>
<body>

    <%# navigation %>

    <nav class="navigation">
        <div class="logo">
            <h1>13th Ads</h1>
        </div>
        <section>
            <ul class="nav-list">
                <a href="#"><li>Home</li></a>
                <a href="#"><li>Blog</li></a>
                <a href="#"><li>About</li></a>
            <ul>
        </section>
    </nav>

    <section class="">
    
    </section>
</body>
</html>