<div id="<%= dom_id advertisement %>">
  <p>
    <strong>Name:</strong>
    <%= advertisement.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= advertisement.duration %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= advertisement.package %>
  </p>

</div>
