<h1>Editing advertisement</h1>

<%= render "form", advertisement: @advertisement %>

<br>

<div>
  <%= link_to "Show this advertisement", @advertisement %> |
  <%= link_to "Back to advertisements", advertisements_path %>
</div>
